<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424615186612-cqq5ckncm7d4pt234pj3g8ja9okcc0ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424615186612-cqq5ckncm7d4pt234pj3g8ja9okcc0ht</string>
	<key>API_KEY</key>
	<string>AIzaSyBW9rLEtw-t6rh4JFqDo3Bu88eHdKoywGg</string>
	<key>GCM_SENDER_ID</key>
	<string>424615186612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.zubeirtech.idyll</string>
	<key>PROJECT_ID</key>
	<string>myidyll</string>
	<key>STORAGE_BUCKET</key>
	<string>myidyll.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:424615186612:ios:d9f4352eab169ff8bb07e1</string>
	<key>DATABASE_URL</key>
	<string>https://myidyll.firebaseio.com</string>
</dict>
</plist>
